extends ../layout2.jade

block content
  .container-fluid
  // ==============================================================
  // Bread crumb and right sidebar toggle
  // ==============================================================
  .row.page-titles
    .col-md-5.col-8.align-self-center
      h3.text-themecolor Dashboard
      ol.breadcrumb
        li.breadcrumb-item
          a(href='javascript:void(0)') Home
        li.breadcrumb-item.active Dashboard


  h1 que pedo con los cursos

block footer
