doctype html
html(lang='en' ng-app="app")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    // Tell the browser to be responsive to screen width
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')

    // Favicon icon
    link(rel='icon', type='image/png', sizes='16x16', href='./images/favicon.png')
    link(href='min/summernote.css', rel='stylesheet')

    title
      | Dialgorithm - Programacion competitiva
    // Bootstrap Core CSS
    link(href='min/bootstrap.min.css', rel='stylesheet')

    // chartist CSS
    link(href='min/chartist.min.css', rel='stylesheet')
    link(href='min/chartist-init.css', rel='stylesheet')
    link(href='min/chartist-plugin-tooltip.css', rel='stylesheet')
    // This page css - Morris CSS
    link(href='min/c3.min.css', rel='stylesheet')
    // Custom CSS
    link(href='min/style.css', rel='stylesheet')
    // You can change the theme colors from here
    link#theme(href='min/blue.css', rel='stylesheet')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body.fix-header.fix-sidebar.card-no-border
    // ==============================================================
    // Preloader - style you can find in spinners.css
    // ==============================================================
    .preloader
      svg.circular(viewbox='25 25 50 50')
        circle.path(cx='50', cy='50', r='20', fill='none', stroke-width='2', stroke-miterlimit='10')
    // ==============================================================
    // Main wrapper - style you can find in pages.scss
    // ==============================================================
    #main-wrapper
      // ==============================================================
      // Topbar header - style you can find in pages.scss
      // ==============================================================
      header.topbar
        nav.navbar.top-navbar.navbar-toggleable-sm.navbar-light
          // ==============================================================
          // Logo
          // ==============================================================
          .navbar-header
            a.navbar-brand(href='index.html')
              // Logo icon
              b
                // You can put here icon as well // <i class="wi wi-sunset"></i> //
                // Light Logo icon
                img.light-logo(src='./images/dilogo.png', alt='homepage')
              // End Logo icon
              // Logo text
              //span
                // Light Logo text
                //img.light-logo(src='./images/logo-light-text.png', alt='homepage')
          // ==============================================================
          // End Logo
          // ==============================================================
          .navbar-collapse
            // ==============================================================
            // toggle and nav items
            // ==============================================================
            ul.navbar-nav.mr-auto.mt-md-0
              // This is
              li.nav-item
                a.nav-link.nav-toggler.hidden-md-up.text-muted.waves-effect.waves-dark(href='javascript:void(0)')
                  i.mdi.mdi-menu
              // ==============================================================
              // Search
              // ==============================================================
              li.nav-item.hidden-sm-down.search-box
                a.nav-link.hidden-sm-down.text-muted.waves-effect.waves-dark(href='javascript:void(0)')
                  i.ti-search
                form.app-search
                  input.form-control(type='text', placeholder='Search & enter')
                  a.srh-btn
                    i.ti-close
            // ==============================================================
            // User profile and search
            // ==============================================================
            ul.navbar-nav.my-lg-0
              // ==============================================================
              // Profile
              // ==============================================================
              li.nav-item.dropdown
                a.nav-link.dropdown-toggle.text-muted.waves-effect.waves-dark(href='', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  img.profile-pic.m-r-10(src='./images/1.jpg', alt='user')
                  | Markarn Doe
      // ==============================================================
      // End Topbar header
      // ==============================================================
      // ==============================================================
      // Left Sidebar - style you can find in sidebar.scss
      // ==============================================================
      aside.left-sidebar
        // Sidebar scroll
        .scroll-sidebar
          // Sidebar navigation
          nav.sidebar-nav
            ul#sidebarnav
              li
                a.waves-effect.waves-dark(href='index.html', aria-expanded='false')
                  i.mdi.mdi-gauge
                  span.hide-menu Cursos
              li
                a.waves-effect.waves-dark(href='pages-profile.html', aria-expanded='false')
                  i.mdi.mdi-account-check
                  span.hide-menu Perfil
              li
                a.waves-effect.waves-dark(href='table-basic.html', aria-expanded='false')
                  i.mdi.mdi-table
                  span.hide-menu Rank de Usuarios
              li
                a.waves-effect.waves-dark(href='icon-material.html', aria-expanded='false')
                  i.mdi.mdi-emoticon
                  span.hide-menu Estadisticas
              //li
                //a.waves-effect.waves-dark(href='map-google.html', aria-expanded='false')
                  //i.mdi.mdi-earth
                  //span.hide-menu Google Map
              //li
                //a.waves-effect.waves-dark(href='pages-blank.html', aria-expanded='false')
                  //i.mdi.mdi-book-open-variant
                  //span.hide-menu Blank Page
              //li
                //a.waves-effect.waves-dark(href='pages-error-404.html', aria-expanded='false')
                  //i.mdi.mdi-help-circle
                  //span.hide-menu Error 404
            //.text-center.m-t-30
              //a.btn.waves-effect.waves-light.btn-warning.hidden-md-down(href='https://wrappixel.com/templates/materialpro/')  Upgrade to Pro
          // End Sidebar navigation
        // End Sidebar scroll
        // Bottom points
        .sidebar-footer
          // item
          a.link(href='', data-toggle='tooltip', title='Settings')
            i.ti-settings
          // item
          a.link(href='', data-toggle='tooltip', title='Email')
            i.mdi.mdi-gmail
          // item
          a.link(href='', data-toggle='tooltip', title='Logout')
            i.mdi.mdi-power
        // End Bottom points


      // ==============================================================
      // End Left Sidebar - style you can find in sidebar.scss
      // ==============================================================
      // ==============================================================
      // Page wrapper
      // ==============================================================
      .page-wrapper


        // ==============================================================
        // Container fluid
        // ==============================================================
        .container-fluid
          // ==============================================================
          // Bread crumb and right sidebar toggle
          // ==============================================================
          .row.page-titles
            .col-md-5.col-8.align-self-center
              h3.text-themecolor Dashboard
              ol.breadcrumb
                li.breadcrumb-item
                  a(href='javascript:void(0)') Home
                li.breadcrumb-item.active Dashboard
            .col-md-7.col-4.align-self-center
          // ==============================================================
          // End Bread crumb and right sidebar toggle
          // ==============================================================
          // ==============================================================
          // Start Page Content
          // ==============================================================


          block content

          // Row
          .row
            // Column
            //.col-lg-8.col-md-7
              //.card
                //.card-block
                  //.row
                    //.col-12
                      //.d-flex.flex-wrap
                        //div
                          //h3.card-title Sales Overview
                          //h6.card-subtitle Ample Admin Vs Pixel Admin
                        //.ml-auto
                          //ul.list-inline
                            //li
                              //h6.text-muted.text-success
                                //i.fa.fa-circle.font-10.m-r-10
                                //| Ample
                            //li
                              //h6.text-muted.text-info
                                //i.fa.fa-circle.font-10.m-r-10
                                //| Pixel
                    //.col-12
                      //.amp-pxl(style='height: 360px;')
            //.col-lg-4.col-md-5
              //.card
                //.card-block
                  //h3.card-title Our Visitors
                  //h6.card-subtitle Different Devices Used to Visit
                  //#visitor(style='height:290px; width:100%;')
                //div
                  //hr.m-t-0.m-b-0
                //.card-block.text-center
                  //ul.list-inline.m-b-0
                    //li
                      //h6.text-muted.text-info
                        //i.fa.fa-circle.font-10.m-r-10
                        //| Mobile
                    //li
                      //h6.text-muted.text-primary
                        //i.fa.fa-circle.font-10.m-r-10
                        //| Desktop
                    //li
                      //h6.text-muted.text-success
                        //i.fa.fa-circle.font-10.m-r-10
                        //| Tablet
          // Row
          // Row
          .row
            // Column
            //.col-lg-4.col-xlg-3.col-md-5
              // Column
              //.card
                //img.card-img-top(src='./images/profile-bg.jpg', alt='Card image cap')
                //.card-block.little-profile.text-center
                  //.pro-img
                    //img(src='./images/4.jpg', alt='user')
                  //h3.m-b-0 Angela Dominic
                  //p Web Designer & Developer
                  //a.m-t-10.waves-effect.waves-dark.btn.btn-primary.btn-md.btn-rounded(href='javascript:void(0)') Follow
                  //.row.text-center.m-t-20
                    //.col-lg-4.col-md-4.m-t-20
                      //h3.m-b-0.font-light 1099
                      //small Articles
                    //.col-lg-4.col-md-4.m-t-20
                      //h3.m-b-0.font-light 23,469
                      //small Followers
                    //.col-lg-4.col-md-4.m-t-20
                      //h3.m-b-0.font-light 6035
                      //small Following
              // Column
              //.card
                //.card-block.bg-info
                  //h4.text-white.card-title My Contacts
                  //h6.card-subtitle.text-white.m-b-0.op-5 Checkout my contacts here
                //.card-block
                  //.message-box.contact-box
                    //h2.add-ct-btn
                      //button.btn.btn-circle.btn-lg.btn-success.waves-effect.waves-dark(type='button') +
                    //.message-widget.contact-widget
                      // Message
                      //a(href='#')
                        //.user-img
                          //img.img-circle(src='./images/1.jpg', alt='user')
                          //span.profile-status.online.pull-right
                        //.mail-contnet
                          //h5 Pavan kumar
                          //span.mail-desc info@wrappixel.com
                      // Message
                      //a(href='#')
                        //.user-img
                          //img.img-circle(src='./images/2.jpg', alt='user')
                          //span.profile-status.busy.pull-right
                        //.mail-contnet
                          //h5 Sonu Nigam
                          //span.mail-desc pamela1987@gmail.com
                      // Message
                      //a(href='#')
                        //.user-img
                          //span.round A
                          //span.profile-status.away.pull-right
                        //.mail-contnet
                          //h5 Arijit Sinh
                          //span.mail-desc cruise1298.fiplip@gmail.com
                      // Message
                      //a(href='#')
                        //.user-img
                          //img.img-circle(src='./images/4.jpg', alt='user')
                          //span.profile-status.offline.pull-right
                        //.mail-contnet
                          //h5 Pavan kumar
                          //span.mail-desc kat@gmail.com
            //.col-lg-8.col-xlg-9.col-md-7
              //.card
                // Nav tabs
                //ul.nav.nav-tabs.profile-tab(role='tablist')
                  //li.nav-item
                    //a.nav-link.active(data-toggle='tab', href='#home', role='tab') Activity
                  //li.nav-item
                    //a.nav-link(data-toggle='tab', href='#profile', role='tab') Profile
                  //li.nav-item
                    //a.nav-link(data-toggle='tab', href='#settings', role='tab') Settings
                // Tab panes
                //.tab-content
                  //#home.tab-pane.active(role='tabpanel')
                    //.card-block
                      //.profiletimeline
                        //.sl-item
                          //.sl-left
                            //img.img-circle(src='./images/1.jpg', alt='user')
                          //.sl-right
                            //div
                              //a.link(href='#') John Doe
                              //span.sl-date 5 minutes ago
                              //p
                                //| assign a new task
                                //a(href='#')  Design weblayout
                              //.row
                                //.col-lg-3.col-md-6.m-b-20
                                  //img.img-responsive.radius(src='./images/img1.jpg', alt='user')
                                //.col-lg-3.col-md-6.m-b-20
                                  //img.img-responsive.radius(src='./images/img2.jpg', alt='user')
                                //.col-lg-3.col-md-6.m-b-20
                                  //img.img-responsive.radius(src='./images/img3.jpg', alt='user')
                                //.col-lg-3.col-md-6.m-b-20
                                  //img.img-responsive.radius(src='./images/img4.jpg', alt='user')
                              //.like-comm
                                //a.link.m-r-10(href='javascript:void(0)') 2 comment
                                //a.link.m-r-10(href='javascript:void(0)')
                                  //i.fa.fa-heart.text-danger
                                  //|  5 Love
                        //hr
                        //.sl-item
                          //.sl-left
                            //img.img-circle(src='./images/2.jpg', alt='user')
                          //.sl-right
                            //div
                              //a.link(href='#') John Doe
                              //span.sl-date 5 minutes ago
                              //.m-t-20.row
                                //.col-md-3.col-xs-12
                                  //img.img-responsive.radius(src='./images/img1.jpg', alt='user')
                                //.col-md-9.col-xs-12
                                  //p
                                    //| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.
                                  //a.btn.btn-success(href='#')  Design weblayout
                              //.like-comm.m-t-20
                                //a.link.m-r-10(href='javascript:void(0)') 2 comment
                                //a.link.m-r-10(href='javascript:void(0)')
                                  //i.fa.fa-heart.text-danger
                                  //|  5 Love
                        //hr
                        //.sl-item
                          //.sl-left
                            //img.img-circle(src='./images/3.jpg', alt='user')
                          //.sl-right
                            //div
                              //a.link(href='#') John Doe
                              //span.sl-date 5 minutes ago
                              //p.m-t-10
                                //| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper
                            //.like-comm.m-t-20
                              //a.link.m-r-10(href='javascript:void(0)') 2 comment
                              //a.link.m-r-10(href='javascript:void(0)')
                                //i.fa.fa-heart.text-danger
                                //|  5 Love
                        //hr
                        //.sl-item
                          //.sl-left
                            //img.img-circle(src='./images/4.jpg', alt='user')
                          //.sl-right
                            //div
                              //a.link(href='#') John Doe
                              //span.sl-date 5 minutes ago
                              //blockquote.m-t-10
                                //| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                  // second tab
                  #profile.tab-pane(role='tabpanel')
                    .card-block
                      .row
                        .col-md-3.col-xs-6.b-r
                          strong Full Name
                          br
                          p.text-muted Johnathan Deo
                        .col-md-3.col-xs-6.b-r
                          strong Mobile
                          br
                          p.text-muted (123) 456 7890
                        .col-md-3.col-xs-6.b-r
                          strong Email
                          br
                          p.text-muted johnathan@admin.com
                        .col-md-3.col-xs-6
                          strong Location
                          br
                          p.text-muted London
                      hr
                      p.m-t-30
                        | Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.
                      p
                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries
                      p
                        | It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                      h4.font-medium.m-t-30 Skill Set
                      hr
                      h5.m-t-30
                        | Wordpress
                        span.pull-right 80%
                      .progress
                        .progress-bar.bg-success(role='progressbar', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100', style='width:80%; height:6px;')
                          span.sr-only 50% Complete
                      h5.m-t-30
                        | HTML 5
                        span.pull-right 90%
                      .progress
                        .progress-bar.bg-info(role='progressbar', aria-valuenow='90', aria-valuemin='0', aria-valuemax='100', style='width:90%; height:6px;')
                          span.sr-only 50% Complete
                      h5.m-t-30
                        | jQuery
                        span.pull-right 50%
                      .progress
                        .progress-bar.bg-danger(role='progressbar', aria-valuenow='50', aria-valuemin='0', aria-valuemax='100', style='width:50%; height:6px;')
                          span.sr-only 50% Complete
                      h5.m-t-30
                        | Photoshop
                        span.pull-right 70%
                      .progress
                        .progress-bar.bg-warning(role='progressbar', aria-valuenow='70', aria-valuemin='0', aria-valuemax='100', style='width:70%; height:6px;')
                          span.sr-only 50% Complete
                  #settings.tab-pane(role='tabpanel')
                    .card-block
                      form.form-horizontal.form-material
                        .form-group
                          label.col-md-12 Full Name
                          .col-md-12
                            input.form-control.form-control-line(type='text', placeholder='Johnathan Doe')
                        .form-group
                          label.col-md-12(for='example-email') Email
                          .col-md-12
                            input#example-email.form-control.form-control-line(type='email', placeholder='johnathan@admin.com', name='example-email')
                        .form-group
                          label.col-md-12 Password
                          .col-md-12
                            input.form-control.form-control-line(type='password', value='password')
                        .form-group
                          label.col-md-12 Phone No
                          .col-md-12
                            input.form-control.form-control-line(type='text', placeholder='123 456 7890')
                        .form-group
                          label.col-md-12 Message
                          .col-md-12
                            textarea.form-control.form-control-line(rows='5')
                        .form-group
                          label.col-sm-12 Select Country
                          .col-sm-12
                            select.form-control.form-control-line
                              option London
                              option India
                              option Usa
                              option Canada
                              option Thailand
                        .form-group
                          .col-sm-12
                            button.btn.btn-success Update Profile
          // ==============================================================
          // End PAge Content
          // ==============================================================
        // ==============================================================
        // End Container fluid
        // ==============================================================
        // ==============================================================
        // footer
        // ==============================================================
        block footer
          footer.footer  © dialgorithm
        // ==============================================================
        // End footer
        // ==============================================================
      // ==============================================================
      // End Page wrapper
      // ==============================================================
    // ==============================================================
    // End Wrapper
    // ==============================================================
    // ==============================================================
    // All Jquery
    // ==============================================================


    script(src='min/jquery.min.js')
    // Bootstrap tether Core JavaScript
    script(src='min/tether.min.js')
    script(src='min/bootstrap.min.js')
    // slimscrollbar scrollbar JavaScript
    script(src='min/jquery.slimscroll.js')
    // Wave Effects
    script(src='min/waves.js')
    // Menu sidebar
    script(src='min/sidebarmenu.js')
    // stickey kit
    script(src='min/sticky-kit.min.js')
    // Custom JavaScript
    script(src='min/custom.min.js')
    // ==============================================================
    // This page plugins
    // ==============================================================
    // chartist chart
    script(src='min/chartist.min.js')
    script(src='min/chartist-plugin-tooltip.min.js')
    // c3 JavaScript
    script(src='min/d3.min.js')
    script(src='min/c3.min.js')
    // Chart JS
    script(src='min/dashboard1.js')
    script(src='javascripts/summernote.js')
