extends ../layout2.jade

block content
  .page-wrapper(style="margin-left:0")
    .col-lg-10.col-xlg-12.col-md-11
      iframe(src='http://www.bing.com' style="position:fixed;margin-left:5%;width:75%; height:70%;")
        p Your browser does not support iframes.
