

extends ../layout2.jade


block content
  .col-lg-8.col-xlg-9.col-md-7.hoverable(style="display: inline-block; margin-left:10%; margin-top:1.2%"  ng-controller='New_Lesson')
    .card
      .card-block
        .form-group
          label.col-sm-12 Selecciona Curso
          .col-sm-12
            select.form-control.form-control-line(ng-model='selectedCourse', ng-change='change()')
              option(ng-repeat='course in courses' value='{{course.id}}'){{course.name}}
        .form-group
            label.col-sm-12 Selecciona Nivel
            .col-sm-12
              select.form-control.form-control-line(ng-model='selected_level')
                option(ng-repeat='level in levels' value='{{level.id}}'){{level.number}}
          .form-group
            label.col-md-12 Nombre de la Lección
            .col-md-12
              input.form-control.form-control-line(type='text', ng-model="lesson_name")

          .form-group(ng-controller='New_Lesson')
            .col-sm-12
              button.btn.btn-success(type='submit',name='action' ng-click='submit()') Crear

    #summernote
      p Escribe la lección



    script(src="./javascripts/angular.min.js")
    script(src="./javascripts/jquery-2.1.1.min.js")
    script(src="./javascripts/controllers/new_lesson.js")
    script.
      $(document).ready(function() {
      $('#summernote').summernote();
      });
