extends ../exercise_layout.jade

block content
  .row(style="margin-rigth:5px;position:relative;height:100%;" ng-controller='Exercise')
    .col-lg-4.col-xlg-4.col-md-4(style="padding-right:0px;height:100%;")
      .card(style="margin-bottom:0px;")
        #summernote(style="background:#263238")

    .col-lg-8.col-xlg-8.col-md-8(style="padding-left:0px;")
      #editor(style="top: 0;right: 0;bottom: 0;left: 0; height:70%;")
        | #include &lt;bits/stdc++.h&gt;
        | using namespace std;
        | int main(){
        |    return 0;
        | }
      .shell-wrap(style="height:30%")
        ul.shell-body(style="height:100%;")
          li Output...
          li


    script(src="./javascripts/angular.min.js")
    script(src="./javascripts/jquery-2.1.1.min.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/ace/1.2.9/ace.js")
    script(src="./javascripts/controllers/exercise.js")
    script.
      var editor = ace.edit("editor");
      editor.setTheme("ace/theme/dracula");
      editor.getSession().setMode("ace/mode/c_cpp");

    script.
      $(document).ready(function() {
      $('#summernote').summernote();
      });
