extends ../layout2.jade

block content
  .row(ng-controller='List_Courses')
    .col-lg-4.col-xlg-3.col-md-5(ng-repeat='course in courses')
      .card
        img.card-img-top(src='../images/profile-bg.png', alt='Card image cap')
        .card-block.little-profile.text-center
          .pro-img
            img(src='../images/code.png', alt='user')
          h3.m-b-0 {{course.name}}
          p {{course.short_description}}
          button.btn.waves-effect.waves-light.btn-rounded.btn-primary(type='button' data-toggle="modal" data-target="#cu{{$index}}") Cursar
          button.btn.waves-effect.waves-light.btn-rounded.btn-danger(style="margin-left:15%;" type='button' data-toggle="modal" data-target="#ex{{$index}}") Info
          button.btn.btn-success.btn-circle(type='button' style="margin-left:15%;" ng-show="administrator")
            i.fa.fa-pencil
          .modal.fade.bs-example-modal-lg(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true', style='display: none;' id="ex{{$index}}")
            .modal-dialog.modal-lg
              .modal-content
                .modal-header
                  h4#myLargeModalLabel.modal-title Información del Curso
                  button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                .modal-body
                  h4 ¿Qué podrás aprender?
                  p {{course.large_description}}
                .modal-footer
                  button.btn.btn-danger.waves-effect.text-left(type='button', data-dismiss='modal') Close
          .modal.fade.bs-example-modal-lg(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true', style='display: none;' id="cu{{$index}}")
            .modal-dialog
              .modal-content
                .modal-header
                  h4#myLargeModalLabel.modal-title Inscribirse al curso: {{course.name}}
                  button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                .modal-body
                  form(lpformnum='3', _lpchecked='1')
                    .form-group
                       label.control-label(for='recipient-name') Ingresa tu contraseña para continuar
                       input#recipient-name1.form-control(type='password' ng-model="pasale")
                .modal-footer
                  button.btn.btn-success(type='button' ng-click='suscribe(pasale,course.id)') Confirmar
                  button.btn.btn-danger.waves-effect.text-left(type='button', data-dismiss='modal' ) Cerrar

    .col-lg-4.col-xlg-3.col-md-5
      button.btn.btn-info.btn-circle.btn-xl(type='button' style="margin-left:20%;margin-top:50%;" ng-show="administrator" ng-click="createCourse()")
        i.fa.fa-plus



      script(src="./javascripts/angular.min.js")
      script(src="./javascripts/controllers/list_course.js")
      script(src="./javascripts/jquery-2.1.1.min.js")
